

.btn {
  border: solid 2px;
  border-radius: 20px;
  margin: 150px 40%;
  padding: 20px;
  background: darkseagreen;
  cursor: pointer;
  color: aliceblue;
  font-size: 18px;

  &:hover {
    background: indianred;
  }
}
