<div class="modal" mat-dialog-content>

  <mat-form-field appearance="legacy">
    <div class="title-container">
      <input matInput class="input" placeholder="Title" [(ngModel)]="data.title">
    </div>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <div class="description-container">
      <textarea matInput class="input" cols="30" rows="10" placeholder="Description"
                [(ngModel)]="data.description"></textarea>
    </div>
  </mat-form-field>

  <mat-dialog-actions>
    <button class="btn" mat-raised-button (click)="closeModal()"> Save</button>
  </mat-dialog-actions>

</div>
